:root {
    /*Colors*/
    --green: #1ED760;
    --pink: #993399;
    --blue: #2941AB;
    --shiny-blue: #0000EE;
    --grey: #919496;
    --mid-grey: #222326;
    --dark-grey: #191414;
    --dark: #000;
    --white: #FFF;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: solid 1px red;
}


html {
    font-size: 62.5%;
}

body {
    color: var(--white);
    font-family: sans-serif;
}

a {
    
    text-decoration: none;
}


