header {
    background-color: var(--dark);
}


.burger-btn {
    background-image: url(../assets/menu.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    outline: none;
    border: none; 
    cursor: pointer;
}


main {
    background-color: var(--pink);
}


.plan-title-main {
    font-size: 1.6rem;
    margin-bottom: 10px;
}


.main-title {
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 20px;
}


.limit-date-promo {
    font-size: 1.7rem;
    line-height: 2.8rem;
    font-weight: 500;
    margin-bottom: 20px;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: 52px;
    padding: 14px 32px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}


.login-btn {
    background-color: var(--dark-grey);
    color: var(--white);
    margin-bottom: 10px;
}


.show-plans-btn {
    background-color: transparent;
    color: var(--white);
    border: solid 2px var(--white);
    margin-bottom: 50px;
}


.terms-legal {
    font-size: 1.1rem;
    line-height: 1.8rem;
}


.terms-legal a {
    color: var(--white);
    text-decoration: underline;
}


.plans-wrapper {
    color: var(--dark);
}


.premium-benefits-title {
    font-size: 2.8rem;
    font-weight: bolder;
    margin-bottom: 40px;
}



.benefit-icon {
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}


.benefit-icon__music {
    background-image: url(../assets/music-icon.png);
}


.benefit-icon__ads {
    background-image: url(../assets/phone-ads.icon.png);
}


.benefit-icon__devices {
    background-image: url(../assets/music-varius-icon.png);
}


.benefit-icon__next-song {
    background-image: url(../assets/phone-play-icon.png);
}


.benefit-title {
    font-size: 2.1rem;
    line-height: 3rem;
    margin-bottom: 10px;
}


.benefit-description {
    font-size: 1.6rem;
}


.chose-plan-wrapper {
    color: var(--dark);
    background-color: var(--light-grey);
}


.chose-plan-title {
    font-size: 2.8rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
}


.chose-plan-subtitle {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 50px;
}


.plan-container {
    background-color: var(--white);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 16px;
}


.try-terms {
    margin: 10px 0 5px 0;
    font-size: 1.8rem;
    text-align: left;
    line-height: 2.5rem;
}


.plan-accounts {
    font-size: 1.6rem;

}

.promo-tag {
    margin: 0px 4px 10px 0px;
    padding: 4px 8px;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: var(--shiny-blue);
    color: var(--white);
    border-radius: 4px;;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    -ms-border-radius: 4;
    -o-border-radius: 4;
}


.pay-tag {
    margin: 0px 4px 10px 0px;
    padding: 4px 8px;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--shiny-blue);
    border: solid 1px var(--shiny-blue);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.plan-title {
    font-size: 2.4rem;
}


.start-plan-btn {
    color: var(--white);
    background-color: var(--dark);
}


.separator { 
    width: 100%;
    height: 1px;
    align-self: center;
    margin: 20px 0px 30px;
    border-top: solid 0.5px var(--dark-grey);
    border-bottom: solid 0.5px var(--light-grey);
    border-right: solid 0.5px var(--light-grey);
    border-left: solid 0.5px var(--dark-grey);
}

.plan-benefits {
    width: 100%;
    margin-bottom: 30px;
    font-size: 1.6rem;
    list-style: none;
}

.plan-benefits li {
    line-height: 2rem;
    margin-bottom: 15px;
}

.plan-benefits li::before {
    content: "✓  ";
}

.legal-terms {
    margin-top: 15px;
    font-size: 1rem;
}

.legal-terms a {
    text-decoration: underline;
}